.App {
  /* text-align: center; */
   margin: 20px;
}


.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.heading{
   text-align: center; 
   margin-top: 4px;
   border-top: 2px solid #9f9f9f;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border-bottom: 1px solid #9f9f9f;
   background-color: #ddd;
  /* color: white;  */
}

.add_user_container{
  margin: 12px 0;display: flex;

}

.add_btn{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
  border-radius: 4px;
}

.add_btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.search {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px;
  transition: width 0.4s ease-in-out;
  margin:0 4px;
}

.search:focus {
  width: 100%;
}

.deleteBtn{
  background-color: red;
  border: none;
  color: white;
  padding: 2px 4px;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}
.simpleButton{
  background-color: lightsteelblue;
  border: none;
  color: white;
  padding: 2px 4px;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}
